-- MySQL dump 10.13  Distrib 8.0.24, for Win64 (x86_64)
--
-- Host: 114.111.30.111    Database: yunjikeji
-- ------------------------------------------------------
-- Server version	5.7.44-7.0.1.5-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `yk_question`
--

DROP TABLE IF EXISTS `yk_question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `yk_question` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT COMMENT 'Primary key',
  `course_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Related course ID',
  `category_id` bigint(20) unsigned NOT NULL COMMENT 'Question category ID',
  `question_code` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Question code',
  `question_type` enum('single_choice','multiple_choice','judge') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Question type',
  `stem` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Question stem',
  `correct_answer` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Canonical correct answer',
  `options_json` json DEFAULT NULL COMMENT 'Question options JSON',
  `answer_json` json DEFAULT NULL COMMENT 'Question answer JSON',
  `analysis` text COLLATE utf8mb4_unicode_ci COMMENT 'Answer analysis',
  `score` int(11) NOT NULL DEFAULT '1' COMMENT 'Question score',
  `sort_no` int(11) NOT NULL DEFAULT '0' COMMENT 'Question sort order',
  `source_ref` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '' COMMENT 'Source reference',
  `difficulty` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'normal' COMMENT 'Question difficulty',
  `status` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft' COMMENT 'Question status: draft, online, offline',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'Created time',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'Updated time',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_yk_question_code` (`question_code`),
  KEY `idx_yk_question_course_status` (`course_id`,`status`),
  KEY `idx_yk_question_type_status` (`question_type`,`status`),
  KEY `idx_yk_question_category_status` (`category_id`,`status`,`sort_no`,`id`),
  CONSTRAINT `fk_yk_question_category` FOREIGN KEY (`category_id`) REFERENCES `yk_question_category` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='VAPP question bank item';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yk_question`
--

LOCK TABLES `yk_question` WRITE;
/*!40000 ALTER TABLE `yk_question` DISABLE KEYS */;
INSERT INTO `yk_question` VALUES (1,NULL,1,'Q-OVERVIEW-0001','single_choice','TODO_STEM','A','[{\"optionCode\": \"A\", \"optionContent\": \"Option A\"}, {\"optionCode\": \"B\", \"optionContent\": \"Option B\"}, {\"optionCode\": \"C\", \"optionContent\": \"Option C\"}, {\"optionCode\": \"D\", \"optionContent\": \"Option D\"}]','{\"correctAnswer\": \"A\"}','TODO_ANALYSIS',1,10,'SOURCE_REF','normal','online','2026-05-13 18:40:36','2026-05-13 18:40:36');
/*!40000 ALTER TABLE `yk_question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `yk_practice_record`
--

DROP TABLE IF EXISTS `yk_practice_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `yk_practice_record` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT COMMENT 'Primary key',
  `user_id` bigint(20) unsigned NOT NULL COMMENT 'User account ID',
  `course_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Course ID',
  `session_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Practice session ID',
  `question_id` bigint(20) unsigned NOT NULL COMMENT 'Question ID',
  `answer_json` json DEFAULT NULL COMMENT 'Submitted answer JSON',
  `correct_flag` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Whether answer is correct',
  `answered_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'Answered time',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'Created time',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_yk_practice_record_session_question` (`session_id`,`question_id`),
  KEY `idx_yk_practice_record_user_time` (`user_id`,`answered_at`),
  KEY `idx_yk_practice_record_question` (`question_id`),
  KEY `idx_yk_practice_record_course` (`course_id`),
  KEY `idx_yk_practice_record_session_time` (`session_id`,`answered_at`),
  KEY `fk_yk_practice_record_session_user` (`session_id`,`user_id`),
  CONSTRAINT `fk_yk_practice_record_question` FOREIGN KEY (`question_id`) REFERENCES `yk_question` (`id`),
  CONSTRAINT `fk_yk_practice_record_session_user` FOREIGN KEY (`session_id`, `user_id`) REFERENCES `yk_practice_session` (`session_id`, `user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='VAPP practice answer record';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yk_practice_record`
--

LOCK TABLES `yk_practice_record` WRITE;
/*!40000 ALTER TABLE `yk_practice_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `yk_practice_record` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-13 20:27:48
