-- MySQL dump 10.13  Distrib 8.0.24, for Win64 (x86_64)
--
-- Host: 114.111.30.111    Database: yunjikeji
-- ------------------------------------------------------
-- Server version	5.7.44-7.0.1.5-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ '304c3a5a-d22b-11ef-ad6e-fa26000e4dd5:1-2237981684';

--
-- Table structure for table `yk_question_import_staging`
--

DROP TABLE IF EXISTS `yk_question_import_staging`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `yk_question_import_staging` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT COMMENT 'Primary key',
  `batch_no` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Import batch number',
  `source_file` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '' COMMENT 'Source file path or logical file',
  `source_locator` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '' COMMENT 'Source row or question locator',
  `category_code` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Target category code',
  `question_code` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Target question code',
  `question_type` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'single_choice' COMMENT 'Normalized question type',
  `stem` text COLLATE utf8mb4_unicode_ci COMMENT 'Normalized question stem',
  `correct_answer` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '' COMMENT 'Normalized correct answer',
  `analysis` text COLLATE utf8mb4_unicode_ci COMMENT 'Normalized answer analysis',
  `score` int(11) NOT NULL DEFAULT '1' COMMENT 'Question score',
  `sort_no` int(11) NOT NULL DEFAULT '0' COMMENT 'Display order inside category',
  `source_ref` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '' COMMENT 'Formal source reference',
  `parse_status` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'parsed' COMMENT 'parsed, needs_manual_review, ignored_noise',
  `review_reason` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '' COMMENT 'Reason for manual review or ignored noise',
  `options_payload_json` json DEFAULT NULL COMMENT 'Compatibility options snapshot payload',
  `answer_payload_json` json DEFAULT NULL COMMENT 'Compatibility answer snapshot payload',
  `raw_payload_json` json DEFAULT NULL COMMENT 'Raw extracted payload snapshot',
  `imported_at` datetime DEFAULT NULL COMMENT 'Formal import time',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'Created time',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'Updated time',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_yk_question_import_staging_question_code` (`question_code`),
  KEY `idx_yk_question_import_staging_batch_status` (`batch_no`,`parse_status`,`category_code`,`sort_no`),
  KEY `idx_yk_question_import_staging_source` (`source_file`,`source_locator`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='TASK-008 question import staging';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yk_question_import_staging`
--

LOCK TABLES `yk_question_import_staging` WRITE;
/*!40000 ALTER TABLE `yk_question_import_staging` DISABLE KEYS */;
/*!40000 ALTER TABLE `yk_question_import_staging` ENABLE KEYS */;
UNLOCK TABLES;
